@model RentalManagement.Models.Apartment

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Apartment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RentalProperty.StreetAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RentalProperty.StreetAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RentPerMonth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RentPerMonth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Unit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Unit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberBedrooms)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberBedrooms)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberBathrooms)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberBathrooms)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Features)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Features)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
