@model RentalManagement.Models.Schedule

@{
    ViewBag.Title = "ScheduleShowing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Schedule a Showing</h2>

<br />

<div>
    @using (Html.BeginForm("ScheduleShowing", "Apartments"))
    {
        @Html.AntiForgeryToken()

        <div class="form-inline">
            @*<h5>Enter your name, email address, and date/time </h5>

            @Html.TextAreaFor(model => model.FirstName, 5, 120, null)*@

            <div>
                @Html.LabelFor(a => a.FirstName)
                @Html.TextBoxFor(a => a.FirstName, new { @class = "form-control" })
            </div>
            <br/>
            <div>
                @Html.LabelFor(a => a.LastName)
                @Html.TextBoxFor(a => a.LastName, new { @class = "form-control" })
            </div>
            <br />
            <div>
                @Html.LabelFor(a => a.Email)
                @Html.TextBoxFor(a => a.Email, new { @class = "form-control" })
            </div>
            <br />

            @Html.LabelFor(a => a.Phone)
            @Html.TextBoxFor(a => a.Phone, new { @class = "form-control" })

            <br />

            @*<p>@Model.ApartmentId</p>*@
            

            <input type="date" name="ShowingDate">
            <br/>
            @Html.LabelFor(a => a.ShowingTime)
            @Html.TextBoxFor(a => a.ShowingTime, new { @class = "form-control" , @value = "Example 5PM"})

            <br />


            @*@Html.EnumDropDownListFor(Model => Model., new { @class = "form-control" })*@

            @*@{ string defaultValue = string.IsNullOrEmpty(null) ? "06" : null; }

    @Html.DropDownListFor(Model => Model.ShowingTime,
    Enumerable.Range(09, 10).Select(i => new SelectListItem { Value = i.ToString(), Text = i.ToString()}),
    "-- Hour --",
    defaultValue
    )*@

    @*@Html.DropDownListFor(model => model.ShowingTime, Model.AvailableTimes);

            <br /><br />*@


            <button type="submit" class="btn btn-primary">Submit</button>
        </div>


    }
</div>