@model RentalManagement.Models.Schedule

@{
    ViewBag.Title = "ScheduleShowing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Schedule a Showing</h2>

<br />

<div>
    @using (Html.BeginForm("ScheduleShowing", "Apartments"))
    {
        @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-sm-2 form-inline">       
                    @Html.LabelFor(a => a.FirstName)
        </div>
        <div class="col-sm-3 input[type=text]">
                    @Html.TextBoxFor(a => a.FirstName, new { @class = "form-control" })              
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2 form-inline">
            @Html.LabelFor(a => a.LastName)
        </div>
        <div class="col-sm-3 input[type=text]">
            @Html.TextBoxFor(a => a.LastName, new { @class = "form-control" })
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2 form-inline">
            @Html.LabelFor(a => a.Email)
        </div>
        <div class="col-sm-3 input[type=text]">
            @Html.TextBoxFor(a => a.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2 form-inline">
            @Html.LabelFor(a => a.Phone)
        </div>
        <div class="col-sm-3 input[type=text]">
            @Html.TextBoxFor(a => a.Phone, new { @class = "form-control" })
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2 form-inline">
            @Html.LabelFor(a => a.ShowingDate)
        </div>
        <div class="col-sm-3 input[type=text]">
            <input type="date" name="ShowingDate">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2 form-inline">
            @Html.LabelFor(a => a.ShowingTime)
        </div>
        <div class="col-sm-3 input[type=text]">
            @Html.TextBoxFor(a => a.ShowingTime, new { @Value = "Enter a time 10AM-6PM", @class = "form-control" })
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2 form-inline">
            @Html.LabelFor(a => a.Apartment)
        </div>
        <div class="col-sm-3 input[type=text]">
            @Html.TextBoxFor(a => a.Apartment, new { @Value = "Enter the apartment you wish to view.", @class = "form-control" })
        </div>
    </div>
    <div>
            <button type="submit" class="btn btn-primary">Submit</button>
    </div>
    }
</div>
