@model IEnumerable<RentalManagement.Models.MaintainenceRequest>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<br/><br /><br />

<body>
<h2>Maintenance Requests</h2>

<p>
    @Html.ActionLink("Click here to creat a new maintenance request", "Create")
</p>
<table class="table">
    <tr>
    <th>
        @Html.DisplayNameFor(model => model.Request)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Apartment.RentalProperty.StreetAddress)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Apartment.Unit)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.TimeAndDateOfRequest)
    </th>
</tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Request)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Apartment.RentalProperty.StreetAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Apartment.Unit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeAndDateOfRequest)
        </td>
    </tr>
}

</table>
</body>